@charset "utf-8";

.home {
  width: 100%;
  margin: 10px 0;
  background-color: #fbf9fe;
  padding: 16px 0;
  :global .carousel {
    border-bottom: 1px solid #eee;
    .slide {
      background-color: transparent;
      .home-slide-item {
        display: flex;
        flex-direction: row;
        padding: 0 10px 20px 10px;
        .home-slide-item-img-wrap {
          width: 1px;
          flex-grow: 2;
          box-sizing: content-box;
        }
        .home-slide-item-img {
          width: 80%;
        }
        .home-aside {
          width: 1px;
          flex-grow: 3;
          text-align: left;
          &-title {
            margin: 10px 0 0 0;
            font-weight: normal;
          }
          &-paragraph {
            margin: 10px 0 0 0;
            font-size: 16px;
            font-weight: lighter;
            display: -webkit-box;
            /* autoprefixer: off */
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            /* autoprefixer: on */
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
     
      &:after {
        clear: both;
        height: 0;
        display: block;
        content: ".";
        visibility: hidden;
      }
    }
    :global .dot {
      width: 20px !important;
      height: 4px !important;
      margin: 0 4px;
      border-radius: 4px !important;
      background-color: #f9cc46 !important;
      box-shadow: none !important;
    }
    .control-next.control-arrow:before {
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-left: 10px solid #f9cc46;
    }
    .control-prev.control-arrow:before {
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-right: 10px solid #f9cc46;
    }
  }
  &-hot-recommend {
    color: #ff8c00;
    background-color: #fff;
    &-title {
      font-size: 16px;
      padding: 10px 0 10px 6px;
      border-bottom: 1px solid #eee;
    }
    &-main {
      display: -webkit-box;
      /* autoprefixer: off */
      -webkit-box-orient: horizontal;
      /* autoprefixer: on */
      -webkit-box-direction: normal;
      -webkit-box-pack: center;
      -webkit-box-align: center;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      margin: 0 4px;
      border-bottom: 1px solid #eee;
      &-item {
        flex: 1;
        margin: 5px 4px;
        img {
          display: inline-block;
          width: 100%;
          height: auto;
        }
        &-paragraph {
          text-align: center;
          width: 100%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          color: #000;
          font-size: 14px;
          font-weight: normal;
        }
      }
    }
    &-aside {
      margin: 0 4px;
      &-other {
        border-bottom: 1px solid #eee;
        line-height: 45px;
        height: 45px;
        color: #000;
        font-size: 16px;
        font-weight: lighter;
        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
  &-hot-other {
    background-color: #fff;
    margin-top: 10px;
    &-fantasy {
      color: #10AEFF;
    }
    &-girl {
      color: #6748ba;
    }
    &-love {
      color: #cf745d;
    }
    &-title {
      font-size: 16px;
      padding: 10px 0 10px 6px;
      border-bottom: 1px solid #eee;
    }
    &-main {
      color: #000;
      width: 100%;
      &-item {
        width: 100%;
        padding: 16px 4px;
        border-bottom: 1px solid #eee;
        display: flex;
        flex-direction: row;
        img {
          max-width: 23%;
          max-height: 120px;
          padding: 0 16px;
          box-sizing: content-box;
        }
        &-aside {
          width: 70%;
          display: flex;
          flex-direction: column;
          &-title {
            font-weight: normal;
          }
          &-paragraph {
            margin: 10px 0 0 0;
            font-size: 14px;
            font-weight: lighter;
            display: -webkit-box;
            /* autoprefixer: off */
            -webkit-box-orient: vertical;
            /* autoprefixer: on */
            text-overflow: ellipsis;
            overflow: hidden;
            -webkit-line-clamp: 2;
          }
        }
        &:after {
          content: ".";
          display: block;
          clear: both;
          height: 0;
          visibility: hidden;
        }
      }
    }
    &-aside {
      margin: 0 4px;
      &-other {
        border-bottom: 1px solid #eee;
        line-height: 45px;
        height: 45px;
        color: #000;
        font-size: 16px;
        font-weight: lighter;
        padding: 0 16px;
        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
}
