@charset "utf-8";
.recharge {
  background-color: #fbf9fe;
  &-header {
    text-align: center;
    &-title {
      font-size: 24px;
      font-weight: normal;
      padding: 8px 0;
      color: #f29136;
    }
  }
}
