@import './util.less';

.spe {
  width: 60px;
  height: 60px;
}

.main {
  min-height: 100vh;
}

.read-btn {
  color: @vice-color;
  background-color: @theme-color;
  border-radius: 10px;
  width: 80%;
  margin: 40px auto;
  padding: 10px 0;
  text-align: center;
}