@charset "utf-8";
@import "./util";
html, body, h1, h2, h3, h4, h5, h6, p, ul {
  padding: 0;
  margin: 0;
}

body {
  background-color: #eee;
}

a {
  text-decoration: none;
}

.novel-header {
  width: 100%;
  ul {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    .novel-header-link {
      flex: 1;
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      line-height: 1.5em;
      padding: 10px 0;
      text-align: center;
      background-color: @theme-color;
      &-icon {
        width: 18px;
        height: 18px;
        margin-right: 4px;
      }
      a {
        color: @vice-color;
        display: block;
      }
      &:last-child a {
        border-right: none;
      }
    }
  }
  &-section {
    width: 100%;
    *zoom: 1;
    font-size: 16px;
    font-weight: normal;
    color: @theme-color;
    background-color: white;
    &-username {
      padding: 10px 0 10px 6px;
      float: left;
      margin-right: 20px;
      display: -webkit-box;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-box-pack: center;
      -webkit-box-align: center;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
    }
    &-avatar {
      width: 25px;
      height: auto;
      border-radius: 50%;
      margin-right: 6px;
    }
    &-superu {
      width: 22px;
      height: auto;
      margin-right: 6px;
    }
    &-userInformation {
      display: table-cell;
      width: 2000px;
      *display: inline-block;
      *width: auto;
      padding: 14px 6px 13px 0;
      text-align: right;
    }
    &:after {
      content: ".";
      display: block;
      clear: both;
      visibility: hidden;
      height: 0;
    }
  }
}
